/* Color for secondary information */
@results-secondary-color: #bababa;
/* Background color for search results */
@results-background-color: #fbfbfb;
/* Background color for search results */
@results-featured-background-color: rgba(62,83,137,0.1);
/* Background color color for result colum */
@results-column-background-color: #f4f4f4;
/* Default height for search result - including image
highlight portion may increase this height */
@results-content-height: 102px;
@results-featured-content-height: 140px;

@autocomplete-border-color: #c6c5c5;
@autocomplete-selected-background-color: #f6f4f4;
@autocomplete-action-button-hover-background-color: #dce6fe;
@autocomplete-pill-background-color: #3e5389;

