@import "ext.blueSpiceExtendedSearch.variables.less";

/*Search form*/
div#bs-extendedsearch-box, div#bs-extendedsearch-mobile-box {
	form {
		.form-group {
			position: relative;
			.bs-extendedsearch-autocomplete-wrapper {
				display: table;
				.bs-extendedsearch-autocomplete-pill {
					padding-left: 8px;
					padding-right: 8px;
					background-color: @autocomplete-pill-background-color;
					font-weight: bold;
					color: white;
					display: table-cell;
					width:1%;
					white-space:nowrap;
				}
				&.ac-mobile {
				}
				.bs-extendedsearch-autocomplete-clear {
					display: table-cell !important;
					background-color: white !important;
					width: 1%;
					white-space: nowrap;
					padding-left: 5px;
					padding-right: 10px;
					border: 1px solid #cccccc;
					border-radius: 0px 5px 5px 0px;
					border-left: none;
				}
				input#bs-extendedsearch-input,
				input#bs-extendedsearch-mobile-input {
					&:focus {
						/*Remove "outline" when focused - just keep the same border color*/
						border-color: rgb(204, 204, 204);
					}
					&.clear-present {
						border-right: none !important;
						border-radius: 0 !important;
					}
				}
			}
		}
	}
}

/*Popup*/
.bs-extendedsearch-autocomplete-popup {
	background-color: white;
	border: 1px solid @autocomplete-border-color;
	position: absolute;
	border-radius: 3px;
	display: table;
	.bs-extendedsearch-autocomplete-popup-primary {
		display: table-cell;
		width: 50%;
		font-size: 1.2em;
		vertical-align: top;
		padding-bottom: 10px;
		.bs-extendedsearch-autocomplete-popup-primary-item {
			padding: 10px;
			position: relative;
			min-height: 60px;
			&.bs-extendedsearch-autocomplete-popup-primary-featured {
				/*TBD*/
			}
			&.bs-autocomplete-result-selected {
				background-color: @autocomplete-selected-background-color;
			}
			&:hover {
				background-color: @autocomplete-selected-background-color;
			}
			.bs-extendedsearch-autocomplete-popup-primary-item-type {
				display: block;
				color: #c6c6c6;
				line-height: 0.8em;
				font-size: 0.8em;
			}
		}
		.bs-extendedsearch-autocomplete-popup-primary-no-results {
			padding: 15px;
		}
	}
	.bs-extendedsearch-autocomplete-popup-special-cnt {
		display: table-cell;
		width: 50%;
		vertical-align: top;
		border-left: 3px solid @autocomplete-border-color;
		padding-bottom: 10px;
		.bs-extendedsearch-autocomplete-popup-special-item-label {
			padding: 10px;
			display: block;
			font-weight: bold;
		}
		.bs-extendedsearch-autocomplete-popup-secondary {
			.bs-extendedsearch-autocomplete-popup-secondary-item {
				position: relative;
				padding-left: 20px;
				padding-bottom: 5px;
				&:hover {
					background-color: @autocomplete-selected-background-color;
				}
				.bs-extendedsearch-autocomplete-popup-secondary-item-type {
					display: block;
					color: #c6c6c6;
					line-height: 0.8em;
					font-size: 0.8em;
				}
			}
		}
		.bs-extendedsearch-autocomplete-popup-top-match {
			.bs-extendedsearch-autocomplete-popup-top-match-item {
				padding: 5px;
				margin-left: 20px;
				margin-bottom: 5px;
				width: 160px;
				display: inline-block;
				position:relative;
				vertical-align: top;
				text-align: center;
				&:hover {
					background-color: @autocomplete-selected-background-color;
				}
				.bs-extendedsearch-autocomplete-popup-top-match-item-image{
					width: 150px;
					height: 150px;
					background-position: top;
					background-size: cover;
					&.dimmed {
						opacity: .5;
					}
				}
			}
		}
	}
}

/*Special values for mobile popup*/
#bs-extendedsearch-mobile-box{
	.bs-extendedsearch-autocomplete-wrapper {
		.bs-extendedsearch-autocomplete-pill {
			line-height: 0px !important;
			vertical-align: middle;
		}
	}
	.bs-extendedsearch-autocomplete-popup {
		overflow: scroll;
		height: 70vh;
		.bs-extendedsearch-autocomplete-popup-primary {
			width: 100%;
		}
	}
}