/* Color for secondary information */
@results-secondary-color: #575555;
/* Background color for search results */
@results-background-color: #fbfbfb;
/* Background color for search results */
@results-featured-background-color: #e1e1e1;
/* Default height for search result - including image
highlight portion may increase this height */
@results-content-height: 102px;
@results-featured-content-height: 140px;

@autocomplete-border-color: #c6c5c5;
@autocomplete-selected-background-color: #f6f4f4;
@autocomplete-action-button-background-color: aliceblue;
@autocomplete-action-button-hover-background-color: #dce6fe;
@autocomplete-pill-background-color: #3e5389;

