@import "ext.blueSpiceExtendedSearch.variables.less";

/*Search box*/
div.bs-extendedsearch-center-layout {
	width: 100%;
	div#bs-es-tf-search {
		width: 70%;
		margin-left:auto;
		margin-right:auto;
	}
}

/*Hit counter*/
div#bs-es-hitcount {
	margin-top: 5px;
	font-size: 1.4em;
	.bs-extendedsearch-search-center-hitcount-replaced,
	.bs-extendedsearch-search-center-hitcount-suggest {
		font-size: 0.8em;
		margin-bottom: 10px;
		a {
			cursor: pointer;
		}
	}
}

/*Tools and filters*/
div#bs-es-tools {
	height: auto;
	min-height: 43px;
	background: #98a7c4;
	clear: both;
	padding-left:4px;
	padding-right:4px;
	&.bs-extendedsearch-tools-when-no-results {
		margin-top: 15px;
	}
	div#bs-es-tools-tools {
		padding: 5px;
		height: 43px;
		display: table-cell;
		min-width: 90px;
		.bs-extendedsearch-filter-add-settings-button::before {
			content: '\e994';
			font-family: icomoon !important;
			cursor: pointer;
			font-size: 16px;
			color: #ffffff;
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}
		.bs-extendedsearch-filter-add-download-button::before {
			content: '\e95f';
			margin-left: 20px;
			font-family: icomoon !important;
			cursor: pointer;
			font-size: 16px;
			color: #ffffff;
			position: relative;
			display: inline-block;
			vertical-align: middle;
		}
	}

	div#bs-es-tools-filters {
		padding: 5px;
		padding-bottom: 0px;
		padding-right: 40px;
		display: table-cell;
		width: 100%;
		position: relative;
		vertical-align: top;
		.bs-extendedsearch-filter-button-widget {
			margin-right: 10px;
			margin-bottom: 5px;
			.bs-extendedsearch-filter-button-button {
				border-radius: 10px 0 0 10px !important;
				font-weight: normal;
				&:hover {
					text-decoration: none !important;
				}
			}
			.bs-extendedsearch-filter-button-remove a{
				border-radius: 0 10px 10px 0 !important;
			}
			.bs-extendedsearch-filter-and-or-switch {
				.oo-ui-optionWidget-selected {
					a {
						color: white !important;
					}
				}
			}
			.bs-extendedsearch-filter-group {
				max-height: 500px;
				overflow-y: auto;
				overflow-x: hidden;
				.bs-extendedsearch-filter-option {
					padding: 3px;
					background-color: @results-background-color;
					margin-top: 3px;
					.bs-extendedsearch-filter-option-count {
						text-align: right;
						padding-left: 10px;
						padding-right: 10px;
					}
				}
			}
			.oo-ui-fieldLayout-header {
				height: 0;
			}
			.bs-extendedsearch-filter-horizontal-layout {
				margin-top: 7px;
			}
			div#bs-extendedsearch-filter-options-checkbox-widget {
				margin-top: 5px;
			}
		}
		#bs-extendedsearch-filter-add-button {
			position: absolute;
			right: 23px;
			top: 10px;
			a {
				padding: 0;
			}
			.bs-extendedsearch-filter-add-widget-button:before {
				content: '\ea5b';
				font-family: icomoon !important;
				cursor: pointer;
				font-size: 16px;
				color: #ffffff;
				position: relative;
				display: inline-block;
			}
			.bs-extendedsearch-filter-add-widget-button {
				border-style: none !important;
				background-color: transparent !important;
				font-weight: normal !important;
			}
		}
	}
	&.mobile {
	}
}

/*Results*/
div#bs-es-results {
	padding: 10px;
	background-color: @results-column-background-color;
	.bs-extendedsearch-no-results,
	.bs-extendedsearch-help {
		text-align: center;
		width: 100%;
		padding-top: 40px;
		padding-bottom: 40px;
		font-size: 1.3em;
	}
	.bs-extendedsearch-result-container {
		width: 100%;
		background-color: @results-background-color;
		height: auto;
		padding: 10px;
		margin-top: 10px;
		min-height: @results-content-height;
		display: flex;
		&.bs-extendedsearch-result-featured {
			background-color: @results-featured-background-color;
			min-height: @results-featured-content-height;
			//border: 1px solid #98a4c4;
			//border-radius: 3px;
			.bs-extendedsearch-result-data-container {
				width: 60%;
				overflow-x: hidden;
				overflow-y: auto;
			}
		}
		&.bs-extendedsearch-result-mobile {
			.bs-extendedsearch-result-data-container {
				width: 100%;
			}
			&.bs-extendedsearch-result-featured {
				.bs-extendedsearch-result-data-container {
					width: 60%;
				}
			}
		}
		.bs-extendedsearch-result-image {
			width: 110px;
			height: @results-content-height;
			margin-right: 10px;
			.bs-extendedsearch-result-image-inner {
				background-size: cover;
				background-repeat: no-repeat;
				background-position-y: top;
				width: 110px;
				height: 110px;
			}
		}
		.bs-extendedsearch-result-data-container {
			min-height:@results-content-height;
			width: 75%;
			.bs-extendedsearch-result-header {
				font-size: 1.3em;
			}
			.bs-extendedsearch-secondaryinfo-container {
				width: auto;
				height: auto;
				line-height: 1em;
				margin-bottom: 4px;
				color: @results-secondary-color;
				.bs-extendedsearch-secondaryinfo-item  {
					display: inline-block;
					height: 15px;
					font-size: 0.8em;
					&:first-of-type {
						padding-left: 0;
					}
					span {
						line-height: 1em;
					}
				}
				.bs-extendedsearch-result-secondaryinfo-separator {
					height: 10px;
					width: 2px;
					background-color: gray;
					display: inline-block;
					margin-left: 5px;
					margin-right: 5px;
				}
			}
			.bs-extendedsearch-result-highlight-container {
				padding-bottom: 5px;
				overflow-y: hidden;
			}
		}
		.bs-extendedsearch-result-section-container {
			.oo-ui-labelWidget {
				display: block;
			}
			width: 180px;
			overflow-x: hidden;
			margin-left: 20px;
		}
		.bs-extendedsearch-result-relevance-cnt {
			position:absolute;
			right: 40px;
		}
	}
	/*Paginator*/
	.bs-extendedsearch-paginator {
		text-align: center;
		padding: 20px;
		.bs-extendedsearch-paginator-button-current {
			background-color: grey !important;
		}
		.bs-extendedsearch-paginator-separator {
			padding-left: 5px;
			padding-right: 10px;
			font-size: 1.4em;
		}
	}

	.bs-extendedsearch-loadmore {
		text-align: center;
		padding: 10px;
		margin: 10px 0 10px 0;
		background-color: @results-background-color;
		width: 100%;
		.bs-extendedsearch-loadmore-loader {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.bs-extendedsearch-searchcenter-loading {
	width: 100%;
	padding: 20px;
	.oo-ui-progressBarWidget {
		margin: auto;
	}
}

/*Add filter dialog - in OOUI Window manager*/
.bs-extendedsearch-filter-add-dialog-group,
.bs-extendedsearch-filter-add-dialog-group a,
.bs-extendedsearch-filter-add-dialog-item,
.bs-extendedsearch-filter-add-dialog-item a{
	width: 100%;
}


.bs-extendedsearch-filter-add-dialog-group {
	&.opened>a {
		background-color: @results-featured-background-color !important;
	}
	.bs-extendedsearch-addfilter-group-items {
		display: none;
		a {
			border: none !important;
			border-bottom: 1px solid @results-featured-background-color !important;
			&:last-of-type {
				border:none !important;
			}
		}

	}
}

.no-scroll {
	overflow-y: hidden !important;
}
