form .bs-extendedsearch-searchbar-pill {
	padding-left: 8px;
	padding-right: 8px;
	background-color: var( --navbar-primary-pill-bg );
	color: var( --navbar-primary-pill-fg );
	display: inline-flex;
	align-items: center;
}

.bs-extendedsearch-searchbar-wrapper {
	display: flex;
	width: calc( 100% - 3rem );
}

/* Hide cancel button visible with type search default */
#bs-extendedsearch-input[ type='search' ]::-webkit-search-cancel-button {
	appearance: none;
}

form .bs-extendedsearch-searchbar-clear {
	background-color: var( --navbar-primary-searchform-bg );
	border: 1px solid var( --navbar-primary-border-color );
	border-left: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
	border-radius: 0 5px 5px 0;
	width: 20px;
}

form .bs-extendedsearch-searchbar-clear a {
	height: 100%;
}

#nb-pri form.clear-present input {
	border-radius: 0 0 0 0;
}

#nb-pri form input:focus + .bs-extendedsearch-searchbar-clear,
#nb-pri form.clear-present .bs-extendedsearch-searchbar-clear {
	border-width: 1px;
}

#nb-pri form.clear-present input:focus,
#nb-pri form.clear-present input#bs-extendedsearch-input {
	border-right: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
}

#nb-pri form input + .bs-extendedsearch-searchbar-clear {
	border-width: 0;
}

.bs-extendedsearch-box {
	margin: 0 auto;
	width: 100%;
}

#mw-searchButton.focusBorder {
	border: 1px solid var( --navbar-primary-border-color );
	border-right: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
}

#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup {
	border-color: #e9e9e9;
	border-radius: 5px;
	z-index: 1001; /* z-index over megamenu */
	width: 99.5%;
	max-height: unset;
}

#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup .bs-extendedsearch-autocomplete-popup-primary .bs-extendedsearch-autocomplete-popup-primary-item .bs-extendedsearch-autocomplete-popup-primary-item-header {
	width: 100%;
}

#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup-top-match-item-info a {
	color: var( --link-fg );
	text-decoration: none;
}

#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup .bs-extendedsearch-autocomplete-popup-item-header {
	color: var( --link-fg );
	text-decoration: none;
}

#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup .bs-extendedsearch-autocomplete-popup-primary .bs-extendedsearch-autocomplete-popup-primary-item:hover {
	background-color: #f1f1f4;
}

#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup .bs-extendedsearch-autocomplete-popup-special-cnt {
	border-left: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
}

#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup .bs-extendedsearch-autocomplete-popup-secondary .bs-extendedsearch-autocomplete-popup-secondary-item:hover {
	cursor: pointer;
}

#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup .bs-extendedsearch-autocomplete-popup-special-cnt .bs-extendedsearch-autocomplete-popup-secondary .bs-extendedsearch-autocomplete-popup-secondary-item a {
	color: var( --content-fg-secondary );
	text-decoration: none;
}

@media ( max-width: 1199.98px ) {
	#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup {
		left: 0;
		position: fixed;
		width: 100vw;
		max-height: calc( 100vh - 60px );
		box-shadow: 0 3px #f1f1f4;
		overflow-y: auto;
	}

	#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup .bs-extendedsearch-autocomplete-popup-primary {
		width: 100%;
	}

	#bs-extendedsearch-box .bs-extendedsearch-autocomplete-popup .bs-extendedsearch-autocomplete-popup-special-cnt {
		width: 100%;
		border-left: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
	}
}
