@import "ext.blueSpiceExtendedSearch.Defines.less";

/*Search form*/
div#bs-extendedsearch-box, div#bs-extendedsearch-mobile-box {
	form {
		.form-group {
			position: relative;
			.bs-extendedsearch-autocomplete-wrapper {
				display: table;
				.bs-extendedsearch-autocomplete-pill {
					padding-left: 8px;
					padding-right: 8px;
					background-color: @autocomplete-pill-background-color;
					font-weight: bold;
					color: white;
					display: table-cell;
					width:1%;
					white-space:nowrap;
				}
				&.ac-mobile {
				}
			}
		}
	}
}

/*Popup*/
.bs-extendedsearch-autocomplete-popup {
	background-color: white;
	border: 1px solid @autocomplete-border-color;
	position: absolute;
	border-radius: 3px;
	display: table;
	.bs-extendedsearch-autocomplete-popup-primary {
		display: table-cell;
		width: 50%;
		font-size: 1.2em;
		vertical-align: top;
		padding-bottom: 10px;
		.bs-extendedsearch-autocomplete-popup-primary-item {
			padding: 10px;
			position: relative;
			min-height: 60px;
			&.bs-extendedsearch-autocomplete-popup-primary-featured {
				/*TBD*/
			}
			&.bs-autocomplete-result-selected {
				background-color: @autocomplete-selected-background-color;
			}
			&:hover {
				background-color: @autocomplete-selected-background-color;
			}
			.bs-extendedsearch-autocomplete-popup-primary-edit {
				padding: 7px;
				position: absolute;
				right: 10px;
				top: 10px;
				background-color: @autocomplete-action-button-background-color;
				cursor: pointer;
				text-decoration: none !important;
				border-radius: 5px;
				display: none;
				&:hover {
					background-color: @autocomplete-action-button-hover-background-color;
				}
			}
			.bs-extendedsearch-autocomplete-popup-primary-item-type {
				display: block;
				color: #c6c6c6;
				line-height: 0.8em;
				font-size: 0.8em;
			}
		}
		.bs-extendedsearch-autocomplete-popup-primary-no-results {
			padding: 15px;
		}
	}
	.bs-extendedsearch-autocomplete-popup-special-cnt {
		display: table-cell;
		width: 50%;
		vertical-align: top;
		border-left: 3px solid @autocomplete-border-color;
		padding-bottom: 10px;
		.bs-extendedsearch-autocomplete-popup-special-item-label {
			padding: 10px;
			display: block;
			font-weight: bold;
		}
		.bs-extendedsearch-autocomplete-popup-secondary {
			.bs-extendedsearch-autocomplete-popup-secondary-item {
				position: relative;
				padding-left: 20px;
				padding-bottom: 5px;
				&:hover {
					background-color: @autocomplete-selected-background-color;
				}
				.bs-extendedsearch-autocomplete-popup-secondary-item-type {
					display: block;
					color: #c6c6c6;
					line-height: 0.8em;
					font-size: 0.8em;
				}
				.bs-extendedsearch-autocomplete-popup-secondary-edit {
					padding: 5px;
					position: absolute;
					right: 10px;
					top: 2px;
					background-color: @autocomplete-action-button-background-color;
					cursor: pointer;
					text-decoration: none !important;
					border-radius: 5px;
					display: none;
					&:hover {
						background-color: @autocomplete-action-button-hover-background-color;
					}
				}
			}
		}
		.bs-extendedsearch-autocomplete-popup-top-match {
			.bs-extendedsearch-autocomplete-popup-top-match-item {
				padding: 5px;
				margin-left: 20px;
				margin-bottom: 5px;
				width: 160px;
				display: inline-block;
				position:relative;
				vertical-align: top;
				text-align: center;
				.bs-extendedsearch-autocomplete-popup-top-match-item-image{
					width: 150px;
					height: 150px;
					background-position: top;
					background-size: cover;
					&.dimmed {
						opacity: .5;
					}
				}
				.bs-extendedsearch-autocomplete-popup-top-match-edit,
				.bs-extendedsearch-autocomplete-popup-top-match-visit {
					position: absolute;
					top: 30px;
					left: 0;
					right: 0;
					margin-left: 10px;
					width: 140px;
					text-align: center;
					background-color: @autocomplete-action-button-background-color;
					padding-top: 10px;
					padding-bottom: 10px;
					text-decoration: none;
					font-weight: bold;
					display: none;
					border-radius: 10px;
					&:hover {
						text-decoration:none !important;
						background-color: @autocomplete-action-button-hover-background-color;
					}
				}
				.bs-extendedsearch-autocomplete-popup-top-match-edit {
					top: 90px;
				}
				.bs-extendedsearch-autocomplete-popup-top-match-item-header {
					font-size: 1.1em;
					font-weight: bold;
				}
			}
		}
	}
}

/*Special values for mobile popup*/
#bs-extendedsearch-mobile-box{
	.bs-extendedsearch-autocomplete-wrapper {
		.bs-extendedsearch-autocomplete-pill {
			line-height: 0px !important;
			vertical-align: middle;
		}
	}
	.bs-extendedsearch-autocomplete-popup {
		overflow: scroll;
		height: 70vh;
		.bs-extendedsearch-autocomplete-popup-primary {
			width: 100%;
		}
	}
}