@import 'ext.blueSpiceExtendedSearch.variables.less';

/* Search form */
.p-search#bs-extendedsearch-box,
.p-search#bs-extendedsearch-mobile-box {
	position: relative;

	button {
		width: 48px;
	}

	.bs-extendedsearch-searchbar-wrapper,
	.bs-extendedsearch-mobile-box-wrapper {
		display: table;
		width: calc( ~'100% - 48px' );

		.bs-extendedsearch-searchbar-pill {
			padding-left: 8px;
			padding-right: 8px;
			background-color: @autocomplete-pill-background-color;
			font-weight: bold;
			color: white;
			display: table-cell;
			width: 1%;
			white-space: nowrap;
			vertical-align: middle;

			&.subpage-pill {
				border-left: 1px solid white;
			}

			&.master-filter-pill {
				background-color: white;
				border: 3px solid @autocomplete-pill-background-color;
			}
		}

		.bs-extendedsearch-searchbar-clear {
			display: table-cell !important;
			background-color: white !important;
			width: 1%;
			white-space: nowrap;
			padding-left: 5px;
			padding-right: 10px;
			border: 1px solid #ccc;
			border-radius: 0 5px 5px 0;
			border-left: none; /* stylelint-disable-line declaration-property-value-disallowed-list */
		}

		input#bs-extendedsearch-input,
		input#bs-extendedsearch-mobile-input {
			&:focus {
				/* Remove "outline" when focused - just keep the same border color */
				border-color: rgb( 204, 204, 204 ); /* stylelint-disable-line function-disallowed-list */
			}
		}
	}

	&.clear-present {
		input#bs-extendedsearch-input,
		input#bs-extendedsearch-mobile-input {
			border-right: none !important; /* stylelint-disable-line declaration-property-value-disallowed-list */
			border-radius: 0 !important;
		}
	}
}

/* Special values for mobile */
#bs-extendedsearch-mobile-box {
	.bs-extendedsearch-searchbar-wrapper {
		.bs-extendedsearch-searchbar-pill {
			line-height: 0px !important; /* stylelint-disable-line declaration-property-unit-disallowed-list */
			vertical-align: middle;
		}
	}
}
