<form id="{{form-id}}"{{#form-class}} class="{{{.}}}"{{/form-class}}{{#form-action}} action="{{{.}}}"{{/form-action}}{{#form-method}} method="{{{.}}}"{{/form-method}} role="search">
	<button id="{{button-id}}"{{#button-class}} class="{{{.}}}"{{/button-class}}{{#button-aria-label}} aria-label="{{{.}}}"{{/button-aria-label}}{{#button-title}} title="{{{.}}}"{{/button-title}}{{#button-type}} type="{{{.}}}"{{/button-type}}></button>
	<input id="{{input-id}}"{{#input-class}} class="{{{.}}}"{{/input-class}}{{#input-type}} type="{{{.}}}"{{/input-type}}{{#input-placeholder}} placeholder="{{{.}}}"{{/input-placeholder}}{{#input-aria-label}} aria-label="{{{.}}}"{{/input-aria-label}}{{#input-accesskey}} accesskey="{{{.}}}"{{/input-accesskey}}{{#input-autocomplete}} autocomplete="{{{.}}}"{{/input-autocomplete}}{{#input-maxlength}} maxlength="{{{.}}}"{{/input-maxlength}}{{#input-name}} name="{{{.}}}"{{/input-name}} >
	<input type="hidden" name="title" value="{{page-name}}">
	<input type="hidden" name="{{field-name}}" value="{{field-value}}">
</form>