<div id="bs-tagsearch-cnt-{{id_number}}" class="bs-tagsearch-cnt p-search">
	<form action="{{action}}" method="POST" class="bs-tagsearch-form" autocomplete="off">
		<button class="btn btn-default" type="submit"><i class="p-search-icon"></i></button><input id="bs-tagsearch-searchfield-{{id_number}}" name="raw_term" class="bs-tagsearch-searchfield" type="text" placeholder="{{placeholder}}">
		<input type="hidden" name="lookup" value="{{lookup}}">
		<input type="hidden" name="returnto" value="{{returnto}}">
	</form>
</div>
